.pos .prod_additional_item {
  align-self: left;
}

.pos .prod_additional_item li .active {
    color: white;
    background: black;
    border: 1px solid black;
}
.pos .prod_additional_item li .button {
  width:auto;
  height:auto;
  float: left;
  display: inline-block;
}
.pos .info.orderline-item {
    display: inline-block;
    margin: 0px 4px;
}


.extra-items {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.extra-item-tags li {
  float: left; 
  background: pink;
  border-radius: 3px 0 0 3px;
  color: #983030;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  font-size: 14px;
}

.extra-item-tags li::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

